{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type"
        content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css"
        href="{% static 'adboard/style.css' %}">
        <title>{% block title %}Главная{% endblock %} - 
        Доска объявлений</title>
    </head>
    <body>
        <header>
            <h1>Мои заметки</h1>
        </header>
        <nav>
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'add' %}">Добавить</a>
        </nav>
        <nav class="left">
            <a href="{% url 'account' %}">Аккаунт</a>
        </nav>
        <section>
        {% block content %}
        {% endblock %}
        </section>
    </body>
</html>