header h1 {
    font: 1em sans-serif;
    font-size: 20pt;
    color: white;
    text-align: left;
    background-color: #004358;
    margin-bottom: 10px;
    padding: 15px;
}


nav {
    font-size: 16pt;
    width: 150px;
    float: left;
    text-align: center;
}

nav a {
    display: block;
    margin: 10px 0px;
}

section {
    margin-left: 160px;
    margin-right: 160px;
}

.b {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 4px rgba(54, 54, 54, 0.4);
    
}
.date {
    font-size: 13px;
    color: darkred;
}

.ad {
    font-size: 15px;
}

.left {
    font-size: 16pt;
    width: 150px;
    float: right;
}

html {
    background-color: rgb(229, 230, 227);
}